name: Build and deploy ASP.Net Core app to Azure Web App - postmakerionela-pad4

env:
  AZURE_WEBAPP_NAME: postmakerionela-pad4
  AZURE_WEBAPP_PACKAGE_PATH: './myapp'
  DOTNET_VERSION: '8.x'

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore "Lab 4 PAD/Lab 4 PAD.csproj"

      - name: Build with dotnet
        run: dotnet build "Lab 4 PAD/Lab 4 PAD.csproj" --configuration Release --no-restore

      - name: dotnet publish
        run: dotnet publish "Lab 4 PAD/Lab 4 PAD.csproj" -c Release -o ${{ env.AZURE_WEBAPP_PACKAGE_PATH }} --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: app
          path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
